.stash--headphones-duotone {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.764 11.622c.525.206.95.65 1.107 1.238l.988 3.688a1.84 1.84 0 0 1-1.302 2.254a3.66 3.66 0 0 1-4.481-2.587l-.047-.176a3.66 3.66 0 0 1 2.229-4.365a6.75 6.75 0 0 1 13.477-.133l.066.017a3.66 3.66 0 0 1 2.588 4.481l-.047.176a3.66 3.66 0 0 1-4.482 2.587a1.84 1.84 0 0 1-1.302-2.254l.989-3.688c.114-.427.369-.778.7-1.017a5.25 5.25 0 0 0-10.483-.221m11.649 1.385a.34.34 0 0 0-.418.24l-.988 3.689a.34.34 0 0 0 .241.418a2.16 2.16 0 0 0 2.645-1.527l.047-.176a2.16 2.16 0 0 0-1.527-2.644m-11.991.24a.34.34 0 0 0-.417-.24a2.16 2.16 0 0 0-1.527 2.644l.047.176a2.16 2.16 0 0 0 2.644 1.527a.34.34 0 0 0 .241-.418z'/%3E%3Cpath fill='%23000' d='M17.995 13.248a.34.34 0 0 1 .418-.241a2.16 2.16 0 0 1 1.527 2.644l-.047.176a2.16 2.16 0 0 1-2.645 1.527a.34.34 0 0 1-.24-.418zm-11.99-.241a.34.34 0 0 1 .417.24l.988 3.689a.34.34 0 0 1-.24.418a2.16 2.16 0 0 1-2.645-1.527l-.047-.176a2.16 2.16 0 0 1 1.527-2.644' opacity='0.5'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.solar--camera-linear {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='1.5'%3E%3Ccircle cx='12' cy='13' r='3'/%3E%3Cpath d='M9.778 21h4.444c3.121 0 4.682 0 5.803-.735a4.4 4.4 0 0 0 1.226-1.204c.749-1.1.749-2.633.749-5.697s0-4.597-.749-5.697a4.4 4.4 0 0 0-1.226-1.204c-.72-.473-1.622-.642-3.003-.702c-.659 0-1.226-.49-1.355-1.125A2.064 2.064 0 0 0 13.634 3h-3.268c-.988 0-1.839.685-2.033 1.636c-.129.635-.696 1.125-1.355 1.125c-1.38.06-2.282.23-3.003.702A4.4 4.4 0 0 0 2.75 7.667C2 8.767 2 10.299 2 13.364s0 4.596.749 5.697c.324.476.74.885 1.226 1.204C5.096 21 6.657 21 9.778 21Z'/%3E%3Cpath stroke-linecap='round' d='M19 10h-1'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .circum--monitor {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M18.435 3.06H5.565a2.5 2.5 0 0 0-2.5 2.5v8.88a2.507 2.507 0 0 0 2.5 2.5h2.91l-.37 3H7a.5.5 0 0 0 0 1h10.01a.5.5 0 0 0 0-1H15.9l-.37-3h2.91a2.507 2.507 0 0 0 2.5-2.5V5.56a2.5 2.5 0 0 0-2.505-2.5M14.9 19.94H9.115l.37-3h5.03Zm5.04-5.5a1.5 1.5 0 0 1-1.5 1.5H5.565a1.5 1.5 0 0 1-1.5-1.5V5.56a1.5 1.5 0 0 1 1.5-1.5h12.87a1.5 1.5 0 0 1 1.5 1.5Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .circum--keyboard {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19.437 18.5H4.562a2.5 2.5 0 0 1-2.5-2.5V8a2.5 2.5 0 0 1 2.5-2.5h14.875a2.5 2.5 0 0 1 2.5 2.5v8a2.5 2.5 0 0 1-2.5 2.5M4.562 6.5a1.5 1.5 0 0 0-1.5 1.5v8a1.5 1.5 0 0 0 1.5 1.5h14.875a1.5 1.5 0 0 0 1.5-1.5V8a1.5 1.5 0 0 0-1.5-1.5Z'/%3E%3Cpath fill='%23000' d='M5.548 16.5h12.9a.5.5 0 0 0 0-1h-12.9a.5.5 0 0 0 0 1'/%3E%3Ccircle cx='5.82' cy='9.248' r='.75' fill='%23000'/%3E%3Ccircle cx='9.94' cy='9.248' r='.75' fill='%23000'/%3E%3Ccircle cx='14.06' cy='9.248' r='.75' fill='%23000'/%3E%3Ccircle cx='18.18' cy='9.248' r='.75' fill='%23000'/%3E%3Ccircle cx='5.82' cy='12.998' r='.75' fill='%23000'/%3E%3Ccircle cx='9.94' cy='12.998' r='.75' fill='%23000'/%3E%3Ccircle cx='14.06' cy='12.998' r='.75' fill='%23000'/%3E%3Ccircle cx='18.18' cy='12.998' r='.75' fill='%23000'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .arcticons--digital-watch {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m30.814 36.08l-.453 5.656a2.04 2.04 0 0 1-2.024 1.764H17.946a2.04 2.04 0 0 1-2.024-1.763l-.453-5.658M26.556 43.5v-6.757m-6.83 6.757v-6.757m.737-2.945h5.133m-8.469-7.19v-5.183m2.599 5.183v-5.183m6.567 5.183v-5.183m2.526 5.183v-5.183m1.995-9.571l-.453-5.59A2.04 2.04 0 0 0 28.337 4.5H17.946c-1.02 0-1.885.753-2.024 1.764l-.453 5.59M26.556 4.5v6.79m-6.83-6.79v6.79'/%3E%3Ccircle cx='23.142' cy='25.608' r='.75' fill='%23000'/%3E%3Ccircle cx='23.142' cy='22.425' r='.75' fill='%23000'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M35.867 20.12h1.717v3.89H35.87m-.003 1.856h1.717V28.5H35.87'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M35.869 17.677v12.679a2.95 2.95 0 0 1-1.003 2.216l-3.745 3.29a3.54 3.54 0 0 1-2.338.88H17.5c-.86 0-1.691-.312-2.338-.88l-3.744-3.29a2.95 2.95 0 0 1-1.003-2.216v-12.68a2.95 2.95 0 0 1 1.003-2.216l3.744-3.29a3.54 3.54 0 0 1 2.338-.88h11.282c.86 0 1.692.313 2.338.88l3.744 3.29a2.95 2.95 0 0 1 1.004 2.217'/%3E%3Crect width='20.665' height='15.334' x='12.809' y='16.349' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' rx='3.057' ry='3.057'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .game-icons--gamepad {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M155.084 125.945q-.69-.001-1.397.034c-5.646.285-12.097 2.464-20.707 8.204c-21.824 14.55-51.912 60.395-67.834 110.005c-15.92 49.61-18.046 102.25 5.936 132.966c4.142 5.306 13.387 8.93 23.756 8.846c10.216-.084 20.682-3.838 26.482-9.44c1.022-1.47 9.296-13.336 21.39-27.404c12.863-14.96 28.716-31.686 45.835-38.777c41.863-17.34 93.024-17.34 134.887 0c17.118 7.092 32.97 23.818 45.834 38.778c12.095 14.068 20.37 25.933 21.39 27.404c5.8 5.602 16.267 9.356 26.483 9.44c10.368.085 19.612-3.54 23.755-8.846c23.973-30.704 21.885-83.575 5.978-133.287s-46.054-95.526-67.783-109.624c-11.498-7.46-19.198-8.73-26.285-7.64c-7.088 1.093-14.347 5.197-22.866 11.07c-17.038 11.746-38.898 30.02-73.952 30.02c-35.212 0-57.115-18.514-74.13-30.356c-8.505-5.92-15.73-10.025-22.743-11.078a27.6 27.6 0 0 0-4.03-.317zm212.904 48.75a16 16 0 0 1 16 16a16 16 0 0 1-16 16a16 16 0 0 1-16-16a16 16 0 0 1 16-16M135 183h18v32h32v18h-32v32h-18v-32h-32v-18h32zm200.988 23.695a16 16 0 0 1 16 16a16 16 0 0 1-16 16a16 16 0 0 1-16-16a16 16 0 0 1 16-16m64 0a16 16 0 0 1 16 16a16 16 0 0 1-16 16a16 16 0 0 1-16-16a16 16 0 0 1 16-16m-32 32a16 16 0 0 1 16 16a16 16 0 0 1-16 16a16 16 0 0 1-16-16a16 16 0 0 1 16-16m-160 7h32v18h-32zm64 0h27.897v18h-27.897z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .mingcute--delete-fill {
    display: inline-block;
    width: 25px;
    height: 25px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M20 5a1 1 0 1 1 0 2h-1l-.003.071l-.933 13.071A2 2 0 0 1 16.069 22H7.93a2 2 0 0 1-1.995-1.858l-.933-13.07L5 7H4a1 1 0 0 1 0-2zm-6-3a1 1 0 1 1 0 2h-4a1 1 0 0 1 0-2z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .typcn--tick {
    display: inline-block;
    width: 25px;
    height: 25px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16.972 6.251a2 2 0 0 0-2.72.777l-3.713 6.682l-2.125-2.125a2 2 0 1 0-2.828 2.828l4 4c.378.379.888.587 1.414.587l.277-.02a2 2 0 0 0 1.471-1.009l5-9a2 2 0 0 0-.776-2.72'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
