:root {
    --bodybg: #171821;
    --bg: #252634;
    --primary: #A9DFD8;
    --radius: 10px;
}
.practive{
    color: black;
    background-color: var(--primary);
    border-radius: 10px;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.practive div{
    color: black;
}
.practive:after{
    opacity: 1;
    content: '';
    z-index: 2;
    position: absolute;
    left: 5px;
    width: 15%;
    height: 70%;    
    background: url("../assets/icons/icons8-user-96\ \(1\).png");
    background-size: cover; 
}
.profilearea{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
}
.intro{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    column-gap: 20px;
}
.intro img{
    width: 150px;
    border: 5px solid var(--primary);
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.176);
}
.userdata .name{
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bolder;
}
.userdata .email{
    color: gray;
}
.managingAccounts{
    display: flex;
    width: auto;height: 100%;
    align-items: center;
    margin-right: 20px;
    column-gap: 20px;
}
.managingAccounts button{
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.addProfile{
    background-color: var(--primary);
    color: black;
    border-width: 0;
}
.removeProfile{
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}
.removeProfile:hover{
    box-shadow: 3px 4px 1cap #000000a1;
}
.removeProfile:active{
    background-color: var(--primary);
    color: black;
}
.addProfile:active{
    background-color: transparent;
    margin: -1px;
    border: 1px solid var(--primary);
    color: var(--primary);
}
.addProfile:hover{
    box-shadow: 3px 4px 10px #000000a1;
}
.personalInformation{
    width: 100%;
    height: auto;
    background-color: var(--bg);
    border-radius: 20px;
    margin-top: 20px;
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 20px;
}
.personalFlex{
    display: flex;
    flex-wrap: wrap;
}
.personalInformation h2{
    font-size: 1rem;
    font-weight: normal;
}
.area{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    column-gap: 20px;
    width: 400px;
    flex-direction: column;
    margin-right: 20px;
    background-color: var(--bodybg);
    padding: 20px;
    border-radius: 20px;
}
.area h3{
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: grey;
} 
.area button{
    background-color: var(--bg);
    color: var(--primary);
    /* border: 1px solid var(--primary); */
    border-width: 0;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.177);
    font-weight: 600;
}
.area button:hover{
    background-color: var(--primary);
    color: black;
}
.area button:active{
    background-color: transparent;
    color: var(--primary);
}
.area input{
    font-size: 1rem;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    border: 0px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.176);
    background-color:rgba(255, 255, 255, 0.083);
}


/* Styling for Other Profiles */

.otherprofiles{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background-color: var(--bg);
    border-radius: 20px;
    font-size: 2rem;
    padding: 20px;
}
.profiles{
    font-size: 1rem;
    display: grid;
    grid-template-columns: 50px 150px 170px 170px 200px 100px 150px;
    align-items: center;
    margin-left: 20px;
    background-color: var(--bodybg);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}
.profiles:hover{
    box-shadow: 6px 7px 10px 0px #000000a3;
}
.profiles .name{
    font-size: 1.5rem;
}
.profiles .status1{
    background-color: rgba(0, 102, 255, 0.227);
    color: rgb(0, 110, 255);
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(0, 110, 255);
}
.profiles .number{
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    border-right: 2px solid grey;
    padding-right: 10px;    
}
.profiles img{                                 /*My image in other profiles */
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
.profiles .loginBtn{
    background-color: var(--primary);
    width: max-content;
    font-size: 1rem;
    padding: 10px 20px;
    display: inline-block;
    border-width: 0;
    border-radius: 10px ;
    color: var(--bodybg);
    font-weight: 500;
    cursor: pointer;
    box-shadow: 3px 3px 10px #111;
}
.profile2 .status1{
    background-color: rgba(255, 251, 0, 0.149);
    color: yellow;
    border-color: yellow;
}
.profile3 .status1{
    background-color: rgba(255, 0, 0, 0.149);
    color: red;
    border-color: red;
}
.removeBtn{
    color: var(--primary);
    width: max-content;
    font-size: 1rem;
    padding: 10px 20px;
    display: inline-block;
    border-width: 0;
    border-radius: 10px ;
    background-color: var(--bodybg);
    font-weight: 500;
    cursor: pointer;
    box-shadow: 3px 3px 10px #111;
}

.password-section{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.wrong-name{
    font-size: 1rem;
    margin-top: 5px;
    color: red;
    display: none;
}
.wrong-email{
    font-size: 1rem;
    margin-top: 5px;
    color: red;
    display: none;
}
.incorrect-email{
    font-size: 1rem;
    margin-top: 5px;
    color: red;
    display: none;
}
.visible-anything{
    display: block;
}